:root {
    --light: #ffffff;
}

html{
    position: relative;
    min-height: 100%;
}

main{
    /*display: flex;
    flex-wrap: wrap;*/  
    margin-left:auto;
    margin-right:auto;
    width: 90%;
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
}

/* header css settings */
header {
    
    padding: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* eggradients.com */
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
    color: var(--light);
    width: 100%;
}

/* Positioning, size, and color of subject's name */
#name h1 {
    padding-top: 0 auto;
    padding-bottom: 40px;
    float: left;
    font-family: 'georgia', 'sans-serif',  'Gill Sans MT', Calibri, 'Trebuchet MS', 'Gill Sans';
    font-size: 30px;
    text-decoration: none;
    margin-left: 25px;
    color: var(--light);
}

/* navbar css settings */
nav {
    padding-top: 0 auto;
    padding-bottom: 0 auto;
    margin-right: 20px;
    display: flex;
    justify-content: flex-end;                                
    margin: 0 auto;
    font-family: 'georgia', 'sans-serif',  'Gill Sans MT', Calibri, 'Trebuchet MS', 'Gill Sans';
    text-decoration: none;
}

nav ul a {
    color: var(--light);
    text-decoration: none;
}

nav li {
    display: inline-block;
    margin-left: 25px;
    font-size: 30px;
    
}

/* footer of website settings */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 20px;
}

/* background image and colors for profile secton */
/* eggradients.com */
.profile {
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    margin: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%); 
    background-image: src="/assets/images/background-1.jpg" alt="background";
    color: var(--light);
}


/* size and appearance of avatar */
.avatar img {
    padding: 10px;
    margin-left: 10px;
    flex: 1; 
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

  /* subtitle font and background settings and image size*/
.sub-title li {
    margin-right: 40px;
    font-family: 'georgia', 'sans-serif',  'Gill Sans MT', Calibri, 'Trebuchet MS', 'Gill Sans';
    font-size: 30px;
    text-decoration: none;
    color: #1c75a8;
    background-color: var(--light);
    padding: 10px;
    margin-top: 10px;
}


.sub-title img {
    width: 50px;
}

.feature {  
    margin: 40px;
    padding: 10px 40px 10px 40px;
    display: flex;
    flex-direction: row;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.about-float-left {
    flex: 1;
    margin-left: 200px;
}

.para {
    float: right;
    margin-left: 200px;
    line-height: 1.5;
}

.projects {
    width: 100%;
    display: flex;
    flex-direction: row;
    
}

.work-card-1 {
    flex: 3;
}

#main-card img {
    width: 830px;
    height: 400px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
}

#main-card img:hover {
    box-shadow: 0 3px 10px rgb(0 0 0 / 2);
    border: groove;
    border-color: var(--light);
}

#main-card li {  
    float: right; 
    margin-right: 20px; 
}


.other-card-1 {
    display: flex;
}


.projects-2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    background-color: red;
    
}



.projects-3 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 10px;
    background-color: yellow;
    
}

.card {
    flex: 3;  
    display: flex;
    
}

.card img {
    width: 100%;
    height: 266px;
    margin-top: 10px;
    margin-right: 22px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 0.5);
    object-fit: cover;
}

.card-2 {
    flex: 3;  
    display: flex;
    
}

.card-2 img {
    width: 400px;
    height: 266px;
    margin-top: 10px;
    
    margin-right: 22px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 0.5);
    object-fit: cover;
}

.card-3 img {
    width: 96%;
    height: 266px;
    margin-top: 10px;
    margin-right: 26px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 0.5);
    object-fit: cover;
}

/* lay-out of and font for main features section */







.card h2:hover {
    font-size: 50px;
    
}

.card-title-1  {
    position: absolute; 
    top: 1210px; 
    bottom: 0;   
    left: 40.5%;
    font-size: 30px;
    color: var(--light);
}

.card-title-2  {
    position: absolute; 
    top: 1210px; 
    bottom: 0;   
    left: 68%;
    font-size: 30px;
    color: var(--light);
}


.card-title-3  {
    position: absolute; 
    top: 1410px; 
    bottom: 0;   
    left: 40.5%;
    font-size: 30px;
    color: var(--light);
}

.card-title-4  {
    position: absolute; 
    top: 1410px; 
    bottom: 0;   
    left: 68%;
    font-size: 30px;
    color: var(--light);
}

.card-text p {
    font-size: 20px;
    margin-top: 10px;
}






.feature h2 {
    font-size: 50px;
    
}

.feature p {
    font-size: 20px;
}

.work-title h2, .work-title p {
    position: absolute; 
    top: 300px; 
    bottom: 0;   
    left: 20%;
    font-size: 30px;
    color: var(--light);             
}

.work-title p {
    /*position: absolute;*/
    top: 350px;  
    font-size: 20px;
}


.contacts {
    padding-top: 0 auto;
    padding-bottom: 0 auto;
    display: flex;
    justify-content: flex-end;                                
    margin: 0 auto;
    font-family: 'georgia', 'sans-serif',  'Gill Sans MT', Calibri, 'Trebuchet MS', 'Gill Sans';
    text-decoration: none;
}

.contacts ul a {
    color: black;
    text-decoration: none;
}

.contacts li {
    display: inline-block;
    margin-left: 25px;
    font-size: 30px;
    
}

@media screen and (max-width: 900px) {
  /* Use flex-direction to stack the navbar, sidebar, and body */
  main,
  nav {
    flex-direction: column;
    background: transparent;
    width: 100%;
  }

  nav ul {
    text-align: center;
    order: 2;
  }

    /* Change the header background */
    header{ 
        flex-direction: column;
    }

    #name h1 {
        text-align: center;
        font-size: 70px;
    }
    /* Change the navbar and footer background */
    nav,
    footer {
        
    }
    
    .profile {
        flex-direction: column;
        width: 100%;
        align-self: center;
        margin: auto;
    }

    .avatar img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .sub-title li {
        text-align: center;
        order: 2;
        background-color: bisque;
    }

    .about {
        flex-direction: column;
        width: 100%;
    }

    .about-float-left {
        flex: 1;
        margin: 5px;
    }

    /* Make the sidebar stack below the body */
    .para {
    text-align: center;
    order: 2;
    }

    .projects {
        flex-direction: column;
    }

    .work-card-1 img {
        order: 2;
        align-content: center;
    }

    }