:root {
    --light: #ffffff;
}


h1 {
    color: blue;
}

h2 {

}

/* header css settings */
header {
    padding: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* eggradients.com */
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
    color: var(--light);
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

/* navbar css settings */
nav {
    padding-top: 0 auto;
    padding-bottom: 40px;
    margin-right: 20px;
    float: right;
    font-family: 'georgia', 'sans-serif',  'Gill Sans MT', Calibri, 'Trebuchet MS', 'Gill Sans';
    text-decoration: none;
}

nav ul a {
    color: var(--light);
    text-decoration: none;
}

nav li {
    display: inline-block;
    margin-left: 25px;
    font-size: 30px;
    
}

/* lay-out of and font for main features section */
.about-me {
    margin: 40px;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.about-me h2 {
    font-size: 50px;
    
}

.about-me p {
    font-size: 20px;
}


/* w3schools.com */
.avatar {
    padding-top: 0 auto;
    padding-bottom: 40px;
    margin-left: 25px;
    position: absolute;
    top: 200px;
    left: 75px;  
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

  /* background image and colors for profile secton */
  .profile {
    margin: 40px;
    padding: 150px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* eggradients.com */
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%); 
    background-image: src="/assets/images/background-1.jpg" alt="background";
    color: var(--light);
    
}


/* sub-title css settings */
.sub-title {
    padding-top: 0 auto;
    padding-bottom: 40px;
    margin-right: 20px;
    float: right;
    font-family: 'georgia', 'sans-serif',  'Gill Sans MT', Calibri, 'Trebuchet MS', 'Gill Sans';
    font-size: 30px;
    text-decoration: none;
}

.sub-title li {
    position: absolute;
    top: 300px;
    right: 75px;
    color: #1c75a8;
}

/* Positioning, size, and color of subject's name */
#name h1 {
    padding-top: 0 auto;
    padding-bottom: 40px;
    float: left;
    font-family: 'georgia', 'sans-serif',  'Gill Sans MT', Calibri, 'Trebuchet MS', 'Gill Sans';
    font-size: 30px;
    text-decoration: none;
    margin-left: 25px;
    color: var(--light);
}



